/* CSS Document */
/* input */
input:focus::-webkit-input-placeholder { color: rgba(0,0,0,0); }
input::-webkit-input-placeholder { color: #999; }
input:focus::-moz-placeholder { color: rgba(0,0,0,0); }
input::-moz-placeholder { color: #999; }
input:focus:-ms-input-placeholder { color: rgba(0,0,0,0); }
input:-ms-input-placeholder { color: #999; }
input[type="button"], input[type="text"], input[type="submit"], input[type="password"], input[type="search"], input[type="email"], input[type="number"], input[type="phone"], button, textarea { -webkit-appearance: none; -moz-appearance: none; -webkit-border-image: none; border-image: none; -webkit-border-radius: 0; border-radius: 0; }
input:focus, a { outline: none; }


html, body{ margin: 0; padding: 0; font-size:1em; font-weight: normal;font-family: Microsoft yahei,Arial, Helvetica, sans-serif !important; background:url(../images/wxqhb_top_bg.png) center top no-repeat #ff7c25;background-color:#ffbc4b;background-image:-webkit-linear-gradient(top,#ff7c25,#ffbb4b);
background-image:-o-linear-gradient(top,#ff7c25,#ffbb4b); background-image:-ms-linear-gradient(top,#ff7c25,#ffbb4b);background-image:linear-gradient(top,#ff7c25,#ffbb4b); background-repeat: repeat-x; }
.wxhb_home{min-width: 200px;max-width: 500px;height: 100%;margin: auto;position: relative; background:url(../images/wxqhb_top_bg.png) center top no-repeat #ff7c25;background-color:#ffbc4b;background-image:-webkit-linear-gradient(top,#ff7c25,#ffbb4b);
background-image:-o-linear-gradient(top,#ff7c25,#ffbb4b); background-image:-ms-linear-gradient(top,#ff7c25,#ffbb4b);background-image:linear-gradient(top,#ff7c25,#ffbb4b); background-repeat: repeat-x; overflow:hidden;}
.bd{position: relative; width:100%; width:100%;height:auto; min-height:400px;background:url(../images/wxqhb_top_bg.png) center top no-repeat;background-size: 100% 100%; overflow:hidden;}
.yiyou_btn{ position:relative;width:90%; height:30px; margin:auto; background-color:#e42e2e; border-radius: 18px; margin-top:10px; text-align:center; line-height:30px; color:#ffffff;}
.help_jc{ position:relative;width:90%; height:100%; margin:auto;}
.help_jc ul{width: 100%; height: 100%;position: relative;list-style:none; display:block; margin:0; padding:0;}
.help_jc ul li{ width:100%;display: -webkit-box;height: 80px; overflow: hidden;position: relative; box-orient:horizontal;}
.apple_bz{ width:62px; height:62px; background-repeat:no-repeat; background-size:62px 62px; background-position:100%; padding-top:23px;}
.money_show{ width:69%; height:auto; border-bottom:1px solid #ef9d34; position: relative;display: -webkit-box;box-orient:horizontal;  color:#6a3906; font-size:0.8em; margin-left:3%;}
.money_name{width:100%;}
.money_name_1{ padding-top:20px;}
.money_name_1 span{color:#996c33; font-size:0.7em; vertical-align:middle; padding-left:10px; line-height:10px;}
.money_name_2{ padding-top:6px;}
.money_shu{width:27%;line-height:99px; text-align:right; color:#e42e2e; font-size:1.5em; position:absolute; right:0;}
.fontone{ width:120px;position:absolute; top:25%; left:50%; margin-left:-60px; color:#d82c2c; text-align:center}
.fonttwo{width:150px;position:absolute; top:30%; left:50%; margin-left:-75px; color:#d82c2c;text-align:center; font-weight:bold;}
.fonttwo_lqbhb{width:180px;position:absolute; top:23%; left:50%; margin-left:-90px; color:#d82c2c;text-align:center; font-weight:bold;}
.anniu{ width:90%; position:absolute; top:80%;display: -webkit-box; left:5%;}
.anniu_sy{width:47%; height:40px;background-color:#ffb421; border-radius: 20px; margin-left:2%; text-align:center; line-height:40px;box-shadow: 1px 4px 1px #d37e18; color:#e42e2e;}
.anniu_yhyjc{width:47%; height:40px;background-color:#ffb421; border-radius: 20px; margin-left:2%; text-align:center; line-height:40px;box-shadow: 1px 4px 1px #d37e18; color:#e42e2e; cursor:pointer;}
.anniu1{ width:90%; position:absolute; top:71%;display: -webkit-box; left:5%;}
.anniu_sy_wz{width:47%; height:40px; margin-left:2%; text-align:center; line-height:40px;color:#ffb421; font-size:0.8em;}
.anniu_yhyjc_wz{width:47%; height:40px; margin-left:2%; text-align:center; line-height:40px;color:#ffb421; font-size:0.8em;}
/*yy_hd_no.html*/
.no_money_show{ width:100%; height:auto; position: relative;display: -webkit-box;box-orient:horizontal;  color:#6a3906; font-size:0.8em; margin-left:3%; text-align:center}
.no_name_1{ padding-top:20px;}
.no_name_1 span{color:#ac6a00; font-size:0.7em; vertical-align:middle; padding-left:10px; line-height:10px;}
.no_name_2{ padding-top:6px;}
/*help_hd.html*/
.fontone1_help{ width:120px;position:absolute; top:23%; left:50%; margin-left:-60px; color:#2f2c3b; text-align:center;font-size:1.2em;}
.fontone_help{ width:120px;position:absolute; top:29%; left:50%; margin-left:-60px; color:#d82c2c; text-align:center; font-size:1.2em;}
.fonttwo_help{width:150px;position:absolute; top:32%; left:50%; margin-left:-75px; color:#d82c2c;text-align:center; font-weight:bold;}
.anniu_help{ width:90%; position:absolute; top:72%;display: -webkit-box; left:5%;}
.anniu_sy_help{width:90%; height:95px;background-color:#c92525; border-radius: 5px; margin-left:5%; text-align:center;  color:#ffb421;}
.anniu_sy_help section.wz{ padding-top:20px; line-height:30px;}
/*see_hb.html*/
.bd_see{position: relative; width:100%; width:100%;height:auto; min-height:290px;background:url(../images/wxqhb2_top_bg.png) center top no-repeat;background-size: 100% 100%; overflow:hidden;}
.fontone_see{ width:120px;position:absolute; top:30%; left:50%; margin-left:-60px; color:#d82c2c; text-align:center}
.fonttwo_see{width:150px;position:absolute; top:34%; left:50%; margin-left:-75px; color:#d82c2c;text-align:center; font-weight:bold;}
.see_yiyou_btn{ position:relative;width:90%; height:30px; margin:auto; background-color:#e42e2e; border-radius: 18px;  text-align:center; line-height:30px; color:#ffffff;}
/*help_hb_begin.html*/
.bd_begin{position: relative; width:100%; width:100%;height:auto; min-height:442px;background:url(../images/wxqhb1_top_bg.png) center top no-repeat;background-size: 100% 100%; overflow:hidden;}
.fontone1_help_begin{ width:120px;position:absolute; top:18%; left:50%; margin-left:-60px; color:#2f2c3b; text-align:center;font-size:1.2em;}
.fontone_help_begin{ width:120px;position:absolute; top:24%; left:50%; margin-left:-60px; color:#d82c2c; text-align:center; font-size:1.2em;}
.fonttwo_help_begin{width:150px;position:absolute; top:27%; left:50%; margin-left:-75px; color:#d82c2c;text-align:center; font-weight:bold;}
.anniu_help_begin{ width:90%; position:absolute; top:62%;display: -webkit-box; left:5%;}
.anniu_help_sy{width:90%; height:95px; border-radius: 5px; margin-left:5%; text-align:center;  color:#ffb421;}
.anniu_dh_begin{width:90%; position:absolute; top:75%;left:8%;}
.anniu_dh_begin input{width:89%; height:38px; text-align:center; color:#c5c9cc; font-size:1em; border:none;}
.anniu_sy_begins{width:80%; height:40px;background-color:#ffb421; border-radius: 20px; margin-left:10%; text-align:center; line-height:40px;box-shadow: 1px 4px 1px #d37e18; color:#e42e2e; }
.anniu_begin{ width:90%; position:absolute; top:87%; left:5%;}
.yiyou_btn_begin{ position:relative;width:43%; height:27px; margin:auto; background-color:#e42e2e; border-radius: 18px; margin-top:10px; text-align:center; line-height:27px; color:#ffffff;}
.begin_name_1{ padding-top:10px;color:#cc0a0a; font-size:0.9em; text-align:left}
.begin_name_2{ padding-top:6px;color:#cc0a0a; font-size:0.9em; text-align:left}
.yiyou_btn_begin_num{ position:relative;width:85%; height:25px; margin:auto; margin-top:10px; text-align:center; line-height:27px; color:#ffffff; display: -webkit-box;}
.yiyou_btn_begin_num1{ position:relative;width:85%; height:22px; margin:auto;text-align:center; line-height:18px; color:#ffffff; display: -webkit-box;}
.num1{ width:20px; height:20px; border-radius:10px; background-color:#e42e2e; text-align:center; line-height:20px; margin-left:4%;}
.num1_1{ width:20px; height:20px; border-radius:10px; background-color:#e42e2e; text-align:center; line-height:20px;}
.num2{width:37%; height:3px; background-color:#e42e2e; margin-top:7px;}
.num3{color:#cc0a0a; font-size:0.7em;}
.num4{color:#cc0a0a; font-size:0.7em; margin-left:29%; margin-right:27%;}
.num5{color:#cc0a0a; font-size:0.7em;}
/*lqbhb.html*/
.wl_fontone{ width:120px; height:120px; background-image:url(../images/selahb_bz.png); background-size:50% 50%;position:absolute; top:12%; left:12%;background-repeat:no-repeat;}
<!--open_help.html-->
.bd_open{}
.anniu_open{ width:90%; position:absolute; top:82%; left:5%;}
.anniu_help_open{ width:90%; position:absolute; top:74%;display: -webkit-box; left:5%;}
.bd_open{position: relative; width:100%; width:100%;height:auto; min-height:400px;background:url(../images/wxqhb4_top_bg.png) center top no-repeat;background-size: 100% 100%; overflow:hidden;}
/*hd_man.html*/
.fonttwo_help_man{width:150px;position:absolute; top:34%; left:50%; margin-left:-75px; color:#d82c2c;text-align:center; font-weight:bold;}
.fontone_help_man{ width:150px;position:absolute; top:30%; left:50%; margin-left:-75px; color:#d82c2c; text-align:center; font-size:1.2em;}
.anniu_man{ width:90%; position:absolute; top:78%; left:5%;}

/*浮层*/
.tanchukuang{max-width:500px; min-width:200px; margin:auto; position:relative;text-decoration:none;}
		.zhiyin{width:24px; height:45px; background:url(../images/jiantou.png) top right no-repeat; background-size:70% 70%;  position:relative; float:right; margin-right:5%}
		.wz_content{ color:#fff; text-align:center; position:relative; clear:both; line-height:22px; text-decoration:none; }
		.one_wz{ font-size:1em;}
		.one_wz img{max-width:28px; height:auto; padding-left:3px; padding-right:3px;}
		.two_wz{ font-size:1em;}
		.three_wz{ font-size:1em;}
		.fcbz_6{width:95px; height:95px; background:url(../images/fcbz.png) top center no-repeat; background-size:100% 100%; margin:auto; position:relative; margin-top:10%;}
		.fcbz{width:95px; height:95px; background:url(../images/fcbz.png) top center no-repeat; background-size:100% 100%; margin:auto; position:relative; margin-top:2%;}
		.two_wz_bl{ font-size:1em; line-height:22px; color:#eab024}
		.three_wz_bl{ font-size:1em; line-height:22px; color:#eab024}
		.fcbz_fx{width:202px; height:92px; background:url(../images/friendbz_wz.png) top center no-repeat; background-size:100% 100%; margin:auto; position:relative; margin-top:1%;}
		/*have_hd_man*/
		.fontone_man{ width:140px;position:absolute; top:27%; left:50%; margin-left:-70px; color:#d82c2c; text-align:left}
		.fonttwo_man{width:150px;position:absolute; top:33%; left:50%; margin-left:-75px; color:#d82c2c;text-align:center; }