<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>零钱包抢钱</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="cache-control" content="no-cache">
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" type="text/css" href="css/hongBao.css">
</head>
<body>
<div id='wx_logo' style='margin:0 auto;display:none;'>
    <img src='/images/0.jpg'/>
</div>
</body>
</html>
